
<div class="header header-2">
  <div class="container">
    <h1>Modifier: <%= @friend.first_name %></h1>
    <p class="text-uppercase m-0"><%= link_to "Voir l'annonce", @friend, class: 'link-clean' %></p>
  </div>
</div>

<div class="container mt-5">
  <%= render 'form', friend: @friend, mode: :edit %>
</div>
