<h1>Modifier un copain</h1>

<%= render 'form', friend: @friend, mode: :edit %>

<%= link_to "Voir l'annonce", @friend %> |
<%= link_to 'Mes annonces', friends_path %> |
<%= link_to 'Accueil', root_path %>
