
html {
  height: 100%;
}

body {
  min-height: 100%;
  padding-top: 70px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.type-devise {
  height: 100%;

  .height-100 {
    height: 100%;

    .devise-wrapper {
      overflow: scroll;
    }

    .devise-content {
      padding: 30px;
    }

    .devise-background {
      background-size: cover;
      background-position: center;

      &.devise-header {
        height: 100px;
      }

      @for $i from 1 through 2 {
        &.devise-background-#{$i} {
          background-image: url(image_path('side/#{$i}.jpg'));
        }
      }
    }
  }
}

.link-clean, .link-clean:hover {
  text-decoration: none;
  color: black;
}

.alerts {
  &.alerts-fixed {
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 40px;
    max-width: 600px;
    padding-left: 30px;

    .alert .close {
      position: relative;
      padding: 0 0 0 10px;
    }
  }
}

.nav-tabs-center {
  justify-content: center;
}

.header {
  background-color: #98AAA5;
  background-size: cover;
  display: flex;
  align-items: center;
  color: white;
  height: 200px;
  background-position: center;
  background-image: url(image_path('header/0.jpg'));

  .link-clean, .link-clean:hover {
    color: white;
    text-decoration: underline;
  }

  @for $i from 1 through 15 {
    &.header-#{$i} {
      background-image: url(image_path('header/#{$i}.jpg'));
    }
  }

  &.header-lg {
    height: 400px;
  }
}

.tag-card {
  position: relative;
  display: flex;
  align-items: flex-end;
  color: white;
  background-size: cover;
  background-position: center;
  background-color: #CCC;
  height: 350px;

  &.tag-card-sm {
    height: 200px;
  }

  .tag-gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: -webkit-gradient(linear, left 50%, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.6)));
  }

  .tag-content {
    position: relative;
  }
}

.img-profile-container {
  position: relative;

  .img-profile-header {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);

    .img-profile-img {
      width: 100%;
      max-width: 300px;
    }
  }
}

.img-profile-content {
  padding-top: 125px;
}

.field_with_errors label {
  color: #E74C3C;
}
